<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
                    $("a.calomap").hover(function(){
                                 $("a.calomap").css("opacity", "0.5");
                                 }, function(){
                                         $("a.calomap").css("opacity", "0");
                                 });
                    $("a.trackmap").hover(function(){
                                         $("a.trackmap").css("opacity", "0.5");
                                         }, function(){
                                         $("a.trackmap").css("opacity", "0");
                                          });
                    $("a.srcmap").hover(function(){
                                          $("a.srcmap").css("opacity", "0.5");
                                          }, function(){
                                          $("a.srcmap").css("opacity", "0");
                                          });
                    });
  </script>

<script type="text/javascript">
  $(document).ready(function(){
                    $("#talks_btn").click(function(){
                                          $("#intro").hide();
                                           $("#talks").show();
                                           $("#posters").hide();
                                           $("#papers").hide();
                                           $("#nemo3").hide();
                                           $("#articles").hide();
                                           });
                    $("#poster_btn").click(function(){
                                           $("#intro").hide();
                                           $("#talks").hide();
                                           $("#posters").show();
                                           $("#papers").hide();
                                           $("#nemo3").hide();
                                           $("#articles").hide();
                                      });
                    $("#article_btn").click(function(){
                                            $("#intro").hide();
                                            $("#talks").hide();
                                            $("#posters").hide();
                                            $("#papers").hide();
                                            $("#nemo3").hide();
                                            $("#articles").show();
                                            });
                    $("#paper_btn").click(function(){
                                          $("#intro").hide();
                                            $("#talks").hide();
                                            $("#posters").hide();
                                            $("#papers").show();
                                            $("#nemo3").hide();
                                            $("#articles").hide();
                                          });
                    $("#nemo3_btn").click(function(){
                                          $("#intro").hide();
                                          $("#talks").hide();
                                          $("#posters").hide();
                                          $("#papers").hide();
                                          $("#nemo3").show();
                                          $("#articles").hide();
                                          });
                    $("#all_btn").click(function(){
                                        $("#intro").hide();
                                          $("#talks").show();
                                          $("#posters").show();
                                          $("#papers").show();
                                          $("#nemo3").show();
                                          $("#articles").show();
                                          });
        });

</script>


<script type="text/javascript">
  $(document).ready(function(){
                    $("#btn_physics").click(function(){
                                          $("#thephysics").show();
                                          $("#detector").hide();
                                          $("#nemo3").hide();
                                          $("#physicsgoals").hide();
                                          $("#funding").hide();
                                          $("#expinfo").hide();
                                          });
                    $("#btn_snemo").click(function(){
                                          $("#thephysics").hide();
                                          $("#detector").show();
                                          $("#nemo3").hide();
                                          $("#physicsgoals").hide();
                                          $("#funding").hide();
                                          $("#expinfo").hide();
                                          });
                    $("#btn_nemo3").click(function(){
                                          $("#thephysics").hide();
                                          $("#detector").hide();
                                          $("#nemo3").show();
                                          $("#physicsgoals").hide();
                                          $("#funding").hide();
                                          $("#expinfo").hide();
                                          });
                    $("#btn_goals").click(function(){
                                          $("#thephysics").hide();
                                          $("#detector").hide();
                                          $("#nemo3").hide();
                                          $("#physicsgoals").show();
                                          $("#funding").hide();
                                          $("#expinfo").hide();
                                          });
                    $("#btn_funding").click(function(){
                                          $("#thephysics").hide();
                                          $("#detector").hide();
                                          $("#nemo3").hide();
                                          $("#physicsgoals").hide();
                                          $("#funding").show();
                                          $("#expinfo").hide();
                                          });
                    });
                    
  </script>

<script type="text/javascript">
  $(document).ready(function(){
                    $("#newsletter_btn").click(function(){
                                          $("#intro").hide();
                                          $("#newsletter").show();
                                          $("#docs").hide();
                                          $("#software").hide();
                                          $("#analysis").hide();
                                          $("#web").hide();
                                          $("#ops").hide();
                                          });
                    $("#docs_btn").click(function(){
                                           $("#intro").hide();
                                           $("#newsletter").hide();
                                           $("#docs").show();
                                           $("#software").hide();
                                           $("#analysis").hide();
                                           $("#web").hide();
                                         $("#ops").hide();
                                           });
                    $("#software_btn").click(function(){
                                            $("#intro").hide();
                                            $("#newsletter").hide();
                                            $("#docs").hide();
                                            $("#software").show();
                                            $("#analysis").hide();
                                            $("#web").hide();
                                             $("#ops").hide();
                                            });
                    $("#analysis_btn").click(function(){
                                          $("#intro").hide();
                                          $("#newsletter").hide();
                                          $("#docs").hide();
                                          $("#software").hide();
                                          $("#analysis").show();
                                          $("#web").hide();
                                             $("#ops").hide();
                                          });
                    $("#web_btn").click(function(){
                                        $("#intro").hide();
                                        $("#newsletter").hide();
                                        $("#docs").hide();
                                        $("#software").hide();
                                        $("#analysis").hide();
                                        $("#ops").hide();
                                        $("#web").show();
                                        });
                    $("#ops_btn").click(function(){
                                        $("#intro").hide();
                                        $("#newsletter").hide();
                                        $("#docs").hide();
                                        $("#software").hide();
                                        $("#analysis").hide();
                                        $("#ops").show();
                                        $("#web").hide();
                                        });
                    });
                    
  </script>
