<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
                    $("a.calomap").hover(function(){
                                 $("a.calomap").css("opacity", "0.5");
                                 }, function(){
                                         $("a.calomap").css("opacity", "0");
                                 });
                    $("a.trackmap").hover(function(){
                                         $("a.trackmap").css("opacity", "0.5");
                                         }, function(){
                                         $("a.trackmap").css("opacity", "0");
                                          });
                    $("a.srcmap").hover(function(){
                                          $("a.srcmap").css("opacity", "0.5");
                                          }, function(){
                                          $("a.srcmap").css("opacity", "0");
                                          });
                    });
  </script>

<script type="text/javascript">
  $(document).ready(function(){
                    $("#talks_btn").click(function(){
                                           $("#talks").show();
                                           $("#posters").hide();
                                           $("#papers").hide();
                                           $("#nemo3").hide();
                                           $("#articles").hide();
                                           });
                    $("#poster_btn").click(function(){
                                           $("#talks").hide();
                                           $("#posters").show();
                                           $("#papers").hide();
                                           $("#nemo3").hide();
                                           $("#articles").hide();
                                      });
                    $("#article_btn").click(function(){
                                            $("#talks").hide();
                                            $("#posters").hide();
                                            $("#papers").hide();
                                            $("#nemo3").hide();
                                            $("#articles").show();
                                            });
                    $("#paper_btn").click(function(){
                                            $("#talks").hide();
                                            $("#posters").hide();
                                            $("#papers").show();
                                            $("#nemo3").hide();
                                            $("#articles").hide();
                                          });
                    $("#nemo3_btn").click(function(){
                                          $("#talks").hide();
                                          $("#posters").hide();
                                          $("#papers").hide();
                                          $("#nemo3").show();
                                          $("#articles").hide();
                                          });
                    $("#all_btn").click(function(){
                                          $("#talks").show();
                                          $("#posters").show();
                                          $("#papers").show();
                                          $("#nemo3").show();
                                          $("#articles").show();
                                          });
        });

</script>
