---
---

@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/glyphicons";
@import "bootstrap/scaffolding";
@import "bootstrap/grid";
@import "bootstrap/component-animations";
@import "bootstrap/wells";
@import "bootstrap/modals";
@import "bootstrap/carousel";

:root {
--first-color: #AC145A;
--second-color: #EA7600;
--third-color: #F6BE00;
--fourth-color: #8F993E;
--fifth-color:#0097A9;
--sixth-color:#500778;
}

.slider-size {
height: 300px; /* This is your slider height */
}
.carousel {
width:100%;
margin:0 auto; /* center your carousel if other than 100% */
}
.section_head{
  margin-top:10px;
  margin-bottom:10px;
  padding:20px;
  background-color:#5777A9;
  color:#ffffff;
  text-align: center;
}

.maphover{
  position: absolute;
  z-index: 2;
  background-color: yellow;
  opacity:0;
}

.square {
float:left;
position: relative;
font-size:2.2vmin;
width: 100%;
border-radius: 7px;
padding-bottom : 40%;
margin:1.66%;
background-color:#1E1E1E;
overflow:hidden;font-family: verdana, sans-serif;
color: #fff;
text-align:center;
}
.square a:link{
color: #FFFFFF;
}
.square a:visited{
color: #FFFFFF;
}
.square a:hover{
color: #FFFFFF;
}
.square a:active{
color: #FFFFFF;
}
.square:hover {
opacity: 0.75;
}

.boxbutton{
float:left;
position: relative;
font-size:2.5vmin;
width: 100%;
border-radius: 7px;
padding-bottom : 50%;
margin:1%;
background-color:#1E1E1E;
overflow:hidden;font-family: verdana, sans-serif;
color: #FFFFFF;
text-align:center;
}
.boxbutton a:link{
color: #FFFFFF;
}
.boxbutton a:visited{
color: #FFFFFF;
}
.boxbutton a:hover{
color: #FFFFFF;
}
.boxbutton a:active{
color: #FFFFFF;
}

.content {
position:absolute;
height:90%; /* = 100% - 2*5% padding */
width:90%; /* = 100% - 2*5% padding */
padding: 5%;

}
.table{
display:table;
width:100%;
height:100%;
}
.table-cell{
display:table-cell;
vertical-align:middle;
}


/*  For responsive images as background */

.bg{
background-position:center center;
background-repeat:no-repeat;
background-size:cover; /* you change this to "contain" if you don't want the images to be cropped */
color:#fff;
}
h1{
color:var(--first-color);
}
h2{
color:var(--second-color);
font-size:26x;
}
.post-content h2{
font-size:26px;
}
a:link{
color: var(--fifth-color);
}
a:visited{
color: var(--fifth-color);
}
a:hover{
color: var(--first-color);
}
a:active{
color: var(--first-color);
}

.site-header {
border-top: 10px solid var(--first-color);
border-bottom: 2px solid var(--sixth-color);
}
.site-header:before {
    content:"";
    display:block;
    position:absolute;
    z-index:-1;
    top:1px;
    left:0px;
    right:0px;
    bottom:1px;
    border-top: 2px solid var(--third-color);
    border-bottom:2px solid var(--fifth-color);
}

.site-nav a:link{
color: var(--second-color);
}
.site-nav a:visited{
color: var(--second-color);
}
.site-nav a:hover{
color: var(--first-color);
}

.site-title, .site-title:visited{
letter-spacing: -0.7px;
color:var(--first-color);
font-size: 40px;
font-weight: 400;
}

h1.post-title {
font-size:30px;
}
.site-nav {
z-index:100;
}
