---
---

@import "bootstrap";
.slider-size {
height: 300px; /* This is your slider height */
}
.carousel {
width:100%;
margin:0 auto; /* center your carousel if other than 100% */
}
.section_head{
margin-top:10px;
margin-bottom:10px;
padding:20px;
background-color:#5777A9;
color:#ffffff;
text-align: center;
}

