---
layout: default
---

<div class="page">

  <h1 class="page-title">Latest News</h1>
  
  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
        {{ post.excerpt }}
      </li>
    {% endfor %}
  </ul>

<p class="rss-subscribe"><a alt="RSS" href="{{ "/feed.xml" | relative_url }}"> <img src={{"assets/Rss-feed.png"| relative_url }} width="30px"></a>  Subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
