---
layout: default
---

<div class="page">

<header class="post-header">
  <h1 class="post-title text-center">Latest News</h1>
</header>

  
  {{ content }}
    <div class="container-fluid">
    {% for post in site.posts %}
      <div class="row">
        <div class='col-xs-2'>
          <a href="{{ post.url | relative_url }}" target="_blank"> <img src={% if post.thumbnail %}"{{ post.thumbnail}}"{% else %}"assets/supernemo_logo_v1.0.png"{% endif %} class="img-thumbnail" ></a>
        </div>
        <div class='col-xs-10'>
          {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
          <span class="post-meta">{{ post.date | date: date_format }}</span>
          
          <h2>
            <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
          </h2>
          {{ post.excerpt }}
        </div>
      </div>
    {% endfor %}
    </div>

<p class="rss-subscribe"><a href="{{ "/feed.xml" | relative_url }}"> <img alt="RSS logo" src={{"assets/Rss-feed.png"| relative_url }} width="30px"></a>  Subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
